
<h1>Welcome!</h1>

<h2>
	BEGINNER exercise #1
</h2>

<p>
	Introduction to AJAX requests.
</p>

<ol>
	<li>
		Make a copy of the source file that this copy is contained in.
	</li>
	<li>
		Change the h1 tag to 'Welcome [youname]!'.
	</li>
	<li>
		Update your JavaScript so that it references your new file.
	</li>
</ol>

<h2>
	BEGINNER exercise #2
</h2>

<p>
	AJAX requests continued.
</p>

<ol>
	<li>
		Create a footer for this web page, give the footer an ID, leave the element empty. 
	</li>
	<li>
		Create the markup for the footer in a separate html file.
	</li>
	<li>
		Implement the logic necessary to load the footer markup into the footer element when the page first loads.
	</li>
</ol>